<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is Admin Dashboard Page</title>
</head>
<body>
    <h1>This is Admin Dashboard Page</h1>
    <a href="/addproduct">
        <h1>Add Product</h1>
    </a>
</body>
</html>