<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>customer Dashboard</title>
</head>
<body>
  <h1>This is customer Dashboard page</h1>

  <a href="/complaint">
    <h1>Register Complaint</h1>
  </a>

  <a href="/track">
    <h1>Track Complaint</h1>
  </a>
</body>
</html>

