<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>customer Dashboard</title>
</head>
<body>
  <h1>This is customer Dashboard page</h1>

  <div style="display: flex; gap: 20px; margin-bottom: 20px;">
    <a href="/complaint"><h1>Register Complaint</h1></a>
    <a href="/track"><h1>Track Complaint</h1></a>
    <a href="/complaint/myComplaints"><h1>My Complaints</h1></a>
    <a href="/profile"><h1>My Profile</h1></a>
    <a href="/logout" style="color: red;"><h1>Logout</h1></a>
  </div>
</body>
</html>

